{{!--
This error template is used for all 400/500 errors which might occur on your site. It's a good idea to keep this template as minimal as possible in terms of both file size and complexity. You'll notice that we *don't* use any JavsScript, or ghost_head / ghost_foot in this file.
--}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preload" as="font" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
</head>
<body class="error-template">
    <div class="site-wrapper">

        {{> "site-nav"}}

        <main id="site-main" class="site-main outer" role="main">
            <div class="inner">

                <section class="error-message">
                    <h1 class="error-code">{{code}}</h1>
                    <p class="error-description">{{message}}</p>
                    <a class="error-link" href="{{@blog.url}}">Go to the front page →</a>
                </section>

                {{#if errorDetails}}
                <section class="error-stack">
                    <h3>Theme errors</h3>
                    <ul class="error-stack-list">
                        {{#each errorDetails}}
                            <li>
                                <em class="error-stack-function">{{{rule}}}</em>

                                {{#each failures}}
                                    <p><span class="error-stack-file">Ref: {{ref}}</span></p>
                                    <p><span class="error-stack-file">Message: {{message}}</span></p>
                                {{/each}}
                            </li>
                        {{/each}}
                    </ul>
                </section>
                {{/if}}

            </div>
        </main>

        {{#get "posts" limit="3"}}
        <aside class="outer">
            <div class="inner">
                <div class="post-feed">
                    {{#foreach posts}}
                        {{> "post-card"}}
                    {{/foreach}}
                </div>
            </div>
        </aside>
        {{/get}}

         <footer class="bg-white ph3 ph5-ns pv5 pv6-ns bt b--black-10">
          <div class="mw9 center">
            <div class="mb5 lh-copy">
              <a class="dib v-mid link dim mr3 mt1" href="https://datproject.org" title="Dat Project homepage">
                <img src="{{@blog.icon}}" class=" dat-icon dib br-100" alt="Dat Project">
              </a>
              <a class="f3 link dat-neutral dim b dib mr3 mb3" href="{{@blog.url}}" title="Dat Project Blog">
                Dat Blog
              </a>
              <a class="f3 link dat-neutral dim b dib mr3 mb3" href="https://docs.datproject.org" title="Dat Project Documentation">
                Dat Docs
              </a>
            </div>
            <div class="mt4">
              <a class="f3 ba dat-neutral b--dat-neutral no-underline grow b inline-flex items-center mr3 mb3 pv3 ph4" href="https://twitter.com/dat_project" title="Follow us on Twitter">
                <div class="dib dat-icon pr2 pt1">
                {{> "icons/dat-happy"}}</div>
                <span>Follow @dat_project</span>
              </a>
              <a class="f3 ba dat-neutral b--dat-neutral no-underline grow b inline-flex items-center mr3 mb3 pv3 ph4" href="http://chat.datproject.org" title="Join our Chat">
                  <div class="dib dat-icon pr2 pt1">{{> "icons/dat-question"}}</div>
                  <span>
                    Curious? Join Our Chat
                  </span>
              </a>
              <a class="f3 ba dat-neutral b--dat-neutral no-underline grow b inline-flex items-center mb3 pv3 ph4" href="https://donate.datproject.org" title="Donate to Code for Science & Society">
                <div class="dib dat-icon pt1 pr2">
                  {{> "icons/dat-star"}}
                </div>
                <span>Donate to Support Public Data</span>
              </a>
            </div>
            <p class="mt4 f3 measure copy lh-copy">
              Dat project flourishes because of you, thank you!
              You made it all the way to the bottom.
              Did you count the number of hexagons?
              <br><br>
              Have questions? Join our chat or ask on <a href="http://twitter.com/dat_project" class="no-underline underline-hover dat-green">Twitter</a> or <a href="http://github.com/datproject" class="no-underline underline-hover dat-green">Github</a>.
              <br><br>
              <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}.
              Blogging via <a href="https://ghost.org" target="_blank">Ghost</a>.
            </p>
          </div>
        </footer>

    </div>
</body>
</html>
